body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse {
    background-color: #17324A;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../images/header-image.png') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 100px 0;
}

.headline h1 {
    font-family: Hiragino Kaku Gothic ProN, Sans-Serif;
    font-size: 100px;
    color: #fff;
}

.headline h2 {
    font-family: Hiragino Kaku Gothic ProN, Sans-Serif;
    font-size: 40px;
    color: #fff;
}

.featurette-divider {
    margin: 40px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-family: "Lato";
    font-size: 50px;
    margin: 40px 0;
}

#content_section_a {
    padding: 50px 0;
    border-bottom: 1px solid #e7e7e7;
}

#welcome_container {
    margin-bottom: 40px;
    text-align: center;
}

#welcome_container h2 {
    margin-top: 0;
    font-size: 50px;
}

#welcome_container h3 {
    font-size: 30px;
}

#about h2 {
    margin-top: 0;
}

.section_container h3 {
    margin-top: 0;
    text-align: center;
}

.list_container {
    padding: 15px 0;
}

.list_container ul {
    margin-bottom: 0;
    font-size: 15px;
}

.list_container ul li+li {
    margin-top: 5px;
}

#content_section_b {
    background-color: #f8f8f8;
    padding: 50px 0;
}

#content_section_c {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

#contact_info h4 {
    margin: 20px 0;
}

#contact_info h4 span {
    color: #9d9d9d;
}

footer {
    margin: 50px 0;
    color: #c4c4c4;
}

.highlighted {
    color: #fff !important;
    padding-bottom: 13px !important;
    border-bottom: 2px solid #fff;
}

@media(max-width:1200px) {
    .headline {
        padding: 75px 0;
    }

    .headline h1 {
        font-size: 80px;
    }

    .headline h2 {
        font-size: 35px;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }


}

@media(max-width:991px) {
    .headline {
        padding: 50px 0;
    }

    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 25px;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }

    #welcome_container h2 {
        font-size: 45px;
    }

    #welcome_container h3 {
        font-size: 25px;
    }

    .section_container h3 {
        font-size: 20px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .headline h2 {
        font-size: 20px;
    }

    .featurette-divider {
        margin: 30px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline {
        padding: 25px 0;
    }

    .headline h1 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 20px 0;
    }

    #welcome_container h2 {
        font-size: 36px;
    }

    #welcome_container h3 {
        font-size: 18px;
    }
}

@media(max-width:640px) {
    .headline h2 {
        font-size: 15px;
    }

    .featurette-heading {
        font-size: 20px;
    }

    .section_container h3 {

    }

    .list_container ul {

    }
}

@media(max-width:500px) {
    .headline h1 {
        font-size: 35px;
    }

    .headline h2 {
        font-size: 15px;
    }

    #welcome_container {
        margin-bottom: 30px;
    }

    #welcome_container h2 {
        font-size: 28px;
    }

    #welcome_container h3 {
        font-size: 15px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}